<section class="container-fluid mt-4">
    <div class="row">
        <div class="col-1">
            <a href="/listener/v1/home">
                <i class="fa-solid fa-2x fa-house btn" style="color: #1db954;" type="button"></i>
            </a>
            <div class="text-light" style="color: #ffffff;">
                <span>
                    <a href="/listener/v1/playlists">PLAYLISTS</a>
                </span>
                <ul>
                    <li><a href="">Music</a></li>
                    <li><a href="">Music</a></li>
                    <li><a href="">Music</a></li>
                    <li><a href="">Music</a></li>
                </ul>
            </div>
            <div class="mt-2">
                <a href="">
                    <img src="/imgs/ab67616d0000b2737e5c4e4a636dee0bc997db03.jpeg" alt="Music" width="200">
                </a>
                <p>
                    <b>Title</b>
                    <a href="">Artist</a>
                </p>
            </div>
        </div>
        <div class="col-11 container text-center">
            <h3>PLAYLISTS</h3>
            <div class="row text-center" style="padding-left: 20%;">
                <div class="px-3 mx-4 col-2">
                    <a href="">
                        <img src="/imgs/ab67616d0000b2737e5c4e4a636dee0bc997db03.jpeg" alt="img" width="150">
                    </a>
                    <p>
                        <a href="">title</a>
                        <b>DESCRIPTION</b>
                    </p>
                </div>
                <div class="px-3 mx-4 col-2">
                    <a href="">
                        <img src="/imgs/ab67616d0000b2737e5c4e4a636dee0bc997db03.jpeg" alt="img" width="150">
                    </a>
                    <p>
                        <a href="">title</a>
                        <b>DESCRIPTION</b>
                    </p>
                </div>
                <div class="px-3 mx-4 col-2">
                    <a href="">
                        <img src="/imgs/ab67616d0000b2737e5c4e4a636dee0bc997db03.jpeg" alt="img" width="150">
                    </a>
                    <p>
                        <a href="">title</a>
                        <b>DESCRIPTION</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>