<section class="container-fluid mt-4">
    <div class="row">
        <div class="col-1">
            <a href="/listener/v1/home">
                <i class="fa-solid fa-2x fa-house btn" style="color: #1db954;" type="button"></i>
            </a>
            <div class="text-light" style="color: #ffffff;">
                <span>
                    <a href="/listener/v1/playlists">PLAYLISTS</a>
                </span>
                <ul>
                    <li><a href="">Music</a></li>
                    <li><a href="">Music</a></li>
                    <li><a href="">Music</a></li>
                    <li><a href="">Music</a></li>
                </ul>
            </div>
            <div class="mt-2">
                <a href="">
                    <img src="/imgs/ab67616d0000b2737e5c4e4a636dee0bc997db03.jpeg" alt="Music" width="200">
                </a>
                <p>
                    <b>Title</b>
                    <a href="">Artist</a>
                </p>
            </div>
        </div>
        <div class="col-11 container">
            <div class="mb-3" style="padding-right: 3%;">
                <h3>MI PERFIL</h3>
            </div>
            <div class="row">
                <div class="col-3">
                    <img src="/imgs/anonimous.jpg" alt="user" width="200" id="user-img">
                </div>
                <div class="col-6" style="padding-right: 30%;">
                    <span>
                        <a href="/listener/v1/userProfileInfo">USER</a>
                        <br>
                        <b>DESCRIPTION</b>
                    </span>
                </div>
            </div>
            <div class="row text-center" id="friends-div">
                <div class="pb-2" style="padding-right: 31%;">
                    <h3>AMIGOS</h3>
                </div>
                <div class="px-3 mx-4 col-2">
                    <a href="">
                        <img src="/imgs/anonimous.jpg" alt="img" width="150">
                    </a>
                    <p>
                        <a href="/listener/v1/friendInfo">NAME</a>
                    </p>
                </div>
                <div class="px-3 mx-4 col-2">
                    <a href="">
                        <img src="/imgs/anonimous.jpg" alt="img" width="150">
                    </a>
                    <p>
                        <a href="/listener/v1/friendInfo">NAME</a>
                    </p>
                </div>
                <div class="px-3 mx-4 col-2">
                    <a href="">
                        <img src="/imgs/anonimous.jpg" alt="img" width="150">
                    </a>
                    <p>
                        <a href="/listener/v1/friendInfo">NAME</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>