<nav class="navbar">
  <div class="container">
    <a class="navbar-text fw-bold" href="/listener/v1/singIn">REGISTRARSE</a>
  </div>
</nav>

<section class="container margin-top my-4">
    <div class="row">
        <div class="col-12">
            <img id="listener-logo" src="/imgs/Listener Logo.png" alt="logo">
        </div>
        <span class="placeholder col-12 bg-success"></span>
        <div class="col-12 text-center pt-3">
            <p>Listener  es un reproductor de música web que trabaja con los datos que le proporciona la API web de Spotify</p>
            <p>Disfruta de tu mejor música mientras navegas con listener for Spotify.</p>
            <p>Para iniciar sesión debes tener cuenta en Spotify, si ya posees una cuenta en Spotify puedes registrarte en Listener.</p>
        </div>
        <div class="col-12">
            <img id="spotify-logo" src="/imgs/Spotify_Logo_RGB_Green.png" alt="logo">
        </div>
        <div class="col-12 mt-3">
            <a target="_blank" href="https://www.spotify.com/cl/signup" style="color: #1db954;">Registrarse en Spotify</a>
            <br>
            <a href="/listener/v1/signIn">
                Ya tienes cuenta en Spotify?
                <br>
                Regístrate en Listener
            </a>
        </div>
    </div>
</section>

<script>



</script>