<header>
    <div class="container pt-5">
        <a class="image-top">
            <img src="/imgs/Listener Logo.png" alt="Logo" id="listener-logo">
        </a>
    </div>
</header>

<section class="container pt-3 pb-5">
    <div class="row">
        <div id="spotify-logo-login" class="col-12 col-sm-6">
            <a class="image-top">
                <img src="/imgs/Spotify_Logo_RGB_Green.png" alt="Logo" width="600" height="200">
            </a>
        </div>
    </div>
</section>

<section class="container pt-3 position-absolute top-75 start-50 translate-middle">
    <div class="row">
        <div id="login-info" class="col-12 col-sm-6 text-center ">
            <p class="fs-5">Para comenzar a escuchar tú musica favorita tienes qué iniciar sesión con tu cuenta de
                Spotify.</p>
        </div>
    </div>
</section>

<section class="container py-5">
    <div class="text-center">
        <a href="/listener/v1/loginSpotify" style="color: #1db954; left: 10%;">INICIAR SESIÓN</a>
    </div>
</section>